<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{{url_for('static', filename= 'image/logoWeb.png')}}" type="image/icon type">
    <title>FLY AIRPLANE</title>
</head>
<body>
<br>
<div class="information">
    <h1 style="text-align: center; color: #1b223c">Object-oriented Software Design</h1>
    <h2 style="text-align: center; color: #1b223c; padding: 10px">This is a website for a final object-oriented software design
        project</h2>
    <h3 style="text-align: center; color: #1b223c; padding: 10px">Group: 13</h3>
    <p style="text-align: center; color: #1b223c; padding: 10px">Trần Thị Mỹ Huyền - 19110371</p>
    <p style="text-align: center; color: #1b223c; padding: 10px">Lê Trần Thanh Hân - 19110360</p>
    <p style="text-align: center; color: #1b223c; padding: 10px">Phạm Phong Duy - 19110338</p>
    <p style="text-align: center; color: #1b223c; padding: 10px">Trần Trung Thành - 19110458 </p>
	<p style="text-align: center; color: #1b223c; padding: 10px">Trần Hữu Khánh Vy - 19110503</p>
    <br>
</div>
</body>
</html>

